## LIST

In [4]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [6]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]]

In [14]:
a = list5[0][2]
print(a)

i

In [26]:
mylist[:-3]

['one', 'two', 'three', 'four', 'five']

In [28]:
mylist[-3:]

['six', 'seven', 'eight']

In [54]:
list5.insert(3,5)
list5

['Asif', 25, [50, 100], 5, 5, [150, 90]]

In [58]:
list5.remove(5)
list5

['Asif', 25, [50, 100], [150, 90]]

In [98]:
mylist.remove('five')
mylist

ValueError: list.remove(x): x not in list

In [108]:
mylist[3] = 7
mylist[2] = 'pet'
mylist

['one',
 'two',
 'pet',
 7,
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine',
 'nine',
 'nine']

In [126]:
list5.clear()
list5.insert(0,'bob')
list5.insert(4,6)
del list5[0]
del list5

In [130]:
mylist1 = mylist
id(mylist1),id(mylist)

(1586993945856, 1586993945856)

In [134]:
mylist2 = mylist.copy()
id(mylist2),id(mylist)

(1587048068992, 1586993945856)

In [140]:
list1 = ['Asif', 25 ,[50, 100],[150, 90]]
new_list = list1+mylist
new_list

['Asif',
 25,
 [50, 100],
 [150, 90],
 'one',
 'two',
 'pet',
 7,
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine',
 'nine',
 'nine']

In [150]:
# list1.extend(mylist)
# list1

In [158]:
 mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [162]:
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [164]:
for i in mylist3:
    print(i)

2
5
9
12
34
88
99

In [166]:
8 in mylist3

False

In [170]:
mylist.count('nine')

5

In [174]:
name = 'ABHINANDAN'
na = [i for i in name]
na

['A', 'B', 'H', 'I', 'N', 'A', 'N', 'D', 'A', 'N']

In [180]:
even = [i for i in range(0,31) if i%2==0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [184]:
odd = [i for i in range(30) if i%2==1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [190]:
square = [i**2 for i in range(10) if i%2 == 0]
square

[0, 4, 16, 36, 64]

In [202]:
mul_3_5 = [i for i in range(200) if (i%3==0) and (i%5==0)]
mul_3_5

[0, 15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195]

In [208]:
 mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
num = [i for i in mystr if i.isdigit()]
num

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [216]:
 mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
alpha = [i for i in mystr if i.isalpha()]
alpha[0:9]

['O', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r']

In [222]:
tu = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , [99,22,33]]
tu[5][1]
tu.index(25)

1

In [ ]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

## Set

In [226]:
set1 = {2,4,5,5,6,5,7}
set1

{2, 4, 5, 6, 7}

In [234]:
set2 = set((2,4,5,5,6,5,7))
set2
for i in enumerate(set2):
 print(i)

(0, 2)
(1, 4)
(2, 5)
(3, 6)
(4, 7)

## String

In [242]:
str1 = 'HELLO PYTHON'
print(str1*2)

HELLO PYTHONHELLO PYTHON

In [250]:
str1[len(str1)-1]

'N'

In [264]:
str1[-4:-1]='gee'

TypeError: 'str' object does not support item assignment

In [270]:
str2 = 'for you'
str3 = str1 +" "+ str2
print(str3)

HELLO PYTHON for you

In [274]:
for i in enumerate (str3):
    print(i)

(0, 'H')
(1, 'E')
(2, 'L')
(3, 'L')
(4, 'O')
(5, ' ')
(6, 'P')
(7, 'Y')
(8, 'T')
(9, 'H')
(10, 'O')
(11, 'N')
(12, ' ')
(13, 'f')
(14, 'o')
(15, 'r')
(16, ' ')
(17, 'y')
(18, 'o')
(19, 'u')

In [276]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.rpartition("and") 
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

In [278]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [298]:
mystr2 = '  Hello Everyone  '
mystr2.replace("He","HK")

'  HKllo Everyone  '

In [310]:
 item1 = 40
 item2 = 55
 item3 = 77
 res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print("Cost of item1 , item2 and item3 are {} , {} and {}".format(item1,item2,item3))
print(f"Cost of item1 , item2 and item3 are {item1} , {item2} and {item3}")
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77
Cost of item1 , item2 and item3 are 40 , 55 and 77
Cost of item1 , item2 and item3 are 40 , 55 and 77

## Dictionary

my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})

In [315]:
my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})
my_dict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}}

In [325]:
 keys = {'a' , 'b' , 'c' , 'd'}
value = {'10','20','30'}
my_dict2 = dict.fromkeys(keys,value)
my_dict2

{'a': {'10', '20', '30'},
 'b': {'10', '20', '30'},
 'c': {'10', '20', '30'},
 'd': {'10', '20', '30'}}