# LIST

In [11]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [12]:
list5 = [['Asif', 25 ],[50, 100],[150, 90]]

In [13]:
a = list5[0][2]
print(a)

IndexError: list index out of range

In [ ]:
matrix = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
matrix[-1:1]

In [ ]:
mylist[:-3:1]
mylist[:-3:2]

In [ ]:
mylist[-3:]

In [ ]:
list5.insert(3,5)
list5

In [ ]:
list5.remove(5)
list5

In [ ]:
mylist.remove('five')
mylist

In [ ]:
mylist[3] = 7
mylist[2] = 'pet'
mylist

In [ ]:
list5.clear()
list5.insert(0,'bob')
list5.insert(4,6)
del list5[0]
del list5

In [ ]:
mylist1 = mylist
id(mylist1),id(mylist)

In [ ]:
mylist2 = mylist.copy()
id(mylist2),id(mylist)

In [ ]:
list1 = ['Asif', 25 ,[50, 100],[150, 90]]
new_list = list1+mylist
new_list

In [ ]:
# list1.extend(mylist)
# list1

In [ ]:
 mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
mylist3

In [ ]:
mylist3

In [ ]:
for i in mylist3:
    print(i)

In [ ]:
8 in mylist3

In [ ]:
mylist.count('nine')

In [ ]:
name = 'ABHINANDAN'
na = [i for i in name]
na

In [ ]:
even = [i for i in range(0,31) if i%2==0]
even

In [ ]:
odd = [i for i in range(30) if i%2==1]
odd

In [ ]:
square = [i**2 for i in range(10) if i%2 == 0]
square

In [ ]:
mul_3_5 = [i for i in range(200) if (i%3==0) and (i%5==0)]
mul_3_5

In [ ]:
 mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
num = [i for i in mystr if i.isdigit()]
num

In [ ]:
 mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
alpha = [i for i in mystr if i.isalpha()]
alpha[0:9]

In [ ]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
for i in mystr:
    if i.isalpha():
        print("yes")

In [ ]:
tu = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , [99,22,33]]
tu[5][1]
tu.index(25)

In [ ]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [ ]:
# princt max no. in the list
l1=[4,6,2,8,1]
l1.sort(reverse = True)
print(l1[0])

In [ ]:
#  Find the reverse of a number provided by the user(any number of digit)
n = int(input("enter the number:"))
dig_list = list(map(int,str(n)))
dig_list = dig_list[::-1]
num = int("".join(map(str,dig_list)))
print(num)

# n = int(input("enter the number:"))
# dig_list = map(int,str(n))
# dig_list = dig_list[::-1]
# num = int("".join(map(int,dig_list)))
# print(num)

In [ ]:
# find the number of digits in the given number.
n = int(input("enter the number of digits in number"))
dig = list(map(int,str(n)))
print(len(dig))

In [ ]:
 l1=[1,2,3,3,3,4,4,5,6,7,8,9,9]
l2 = []
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

In [ ]:
''''Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the
 list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the
 new list.
 list1 = ["M", "na", "i", "Ke"]
 list2 = ["y", "me", "s", "lly"]
 expected result:
 ['My', 'name', 'is', 'Kelly']'''
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i , j in zip(list1,list2)]
print(list3)

In [ ]:
 #Turn every item of a list into its square Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
new = []
for i in numbers:
    n = pow(i,2)
    new.append(n)
print(new)

In [ ]:
n=[pow(i,2) for i in range(1,4)]
print(n)

In [ ]:
#  Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 inoriginal order and items from list2 in reverse order.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

In [ ]:
# Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
 # Expected result:
 # ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
for i in list1:
    for j in list2:
        print(i+"*"+j)

In [ ]:
result = [i+j for i in list1 for j in list2]
print(result)

In [ ]:
#  Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result = list(filter(lambda x : x != "",list1))
print(result)

In [ ]:
# Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

In [ ]:
'''Replace list’s item with new value if found
 You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with
 200. Only update the first occurrence of an item.
 list1 = [5, 10, 15, 20, 25, 50, 20]
 Expected output: [5, 10, 15, 200, 25, 50, 20'''
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[2] = 90
x = list1.index(20)
list1[x] = 2000
print(list1)

In [ ]:
# Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

## Set

In [ ]:
set1 = {2,4,5,5,6,5,7}
set1

In [ ]:
set2 = set((2,4,5,5,6,5,7))
set2
for i in enumerate(set2):
 print(i)

# String

In [14]:
str1 = 'HELLO PYTHON'
print(str1*2)

HELLO PYTHONHELLO PYTHON

In [15]:
str1[len(str1)-1]

'N'

In [16]:
str1[-4:-1]='gee'

TypeError: 'str' object does not support item assignment

In [ ]:
str2 = 'for you'
str3 = str1 +" "+ str2
print(str3)

In [ ]:
for i in enumerate (str3):
    print(i)

In [ ]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.rpartition("and") 
print(L)

In [ ]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.partition("and") 
print(L)

In [ ]:
mystr2 = '  Hello Everyone  '
mystr2.replace("He","HK")

In [ ]:
 item1 = 40
 item2 = 55
 item3 = 77
 res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print("Cost of item1 , item2 and item3 are {} , {} and {}".format(item1,item2,item3))
print(f"Cost of item1 , item2 and item3 are {item1} , {item2} and {item3}")
print(res.format(item1,item2,item3))

In [ ]:
mystr2 = '  Hello Everyone  '
print(mystr2*2)
print(len(mystr2))

## String Indexing

In [82]:
str5 = "Natural language processing with Python and R and Java"
str5[3:8]

'ural '

In [88]:
# Last character in string using len function
str5[len(str5)-1]
str5[-1]

'a'

In [90]:
 #Fetch 7th element of the string
str5[6]

'l'

In [96]:
 # Retreive last four characters of the string
str5[-4:]
str5[:-4]

'Natural language processing with Python and R and '

In [102]:
 # Retreive last six characters of the string
str5[-6:]
 # Retreive first four characters of the strin
str5[:4]

'Natu'

In [ ]:
del str1 # Delete a string
 print(srt1)

In [ ]:
 # String concatenation
 s1 = "Hello"
 s2 = "Asif"
 s3 = s1 + " " + s2
 print(s3)

## Iterating through a String

In [106]:
mystr1 = "Hello Everyone"
for i in mystr1:
    print(i,end=" ")

H e l l o   E v e r y o n e

In [108]:
for i in enumerate(mystr1):
 print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

## String Partitioning
 """
 The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument st"""ring.

In [110]:
str5 = "Natural language processing with Python and R and Java"
str5.partition('with')

('Natural language processing ', 'with', ' Python and R and Java')

In [116]:
# The rpartition() method searches for the last occurence of the specified string containing three elements.
str5.rpartition('l')
str5.lpartition('a')

AttributeError: 'str' object has no attribute 'lpartition'

In [120]:
 mystr2 = "*********Hello Everyone***********All the Best**********"
 mystr2.strip('*')

'Hello Everyone***********All the Best'

In [122]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2.rstrip('*')

'*********Hello Everyone***********All the Best'

In [ ]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

In [126]:
mystr5 = "one two Three one two two three"
mystr5.count('two')
mystr5.startswith('one')

True

In [134]:
mystr5.split()
loc = mystr5.find('Three')
print(loc)

8

In [138]:
loc = mystr5.index('Three')
print(loc)

8

In [146]:
# loc = str5.rfind("one") # last occurrence of word 'one' in string "str6"
# print(loc)
loc = str5.rindex("one")
print(loc)

ValueError: substring not found

In [148]:
#Using escape character to allow illegal characters
mystr5 = "My favourite series is \"Game of Thrones\""
print(mystr5)

My favourite series is "Game of Thrones"

# Dictionary

my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})

In [ ]:
my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})
my_dict

In [164]:
mydict = {1:'one' , 2:'two' , 3:}

In [166]:
mydict.keys()

dict_keys([1, 2, 3])

In [168]:
mydict.values()

dict_values(['one', 'two', 'Three'])

In [170]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'Three')])

In [154]:
my_dict = dict()
print(my_dict)
my_dict = {}

{}

In [190]:
mydict.get(1)
mydict[1]

'one'

In [176]:
keys = {'a' , 'b' , 'c' , 'd'}
value = ['10','20','30']
my_dict2 = dict.fromkeys(keys,value)
value.append(40)

In [184]:
my_dict2

{'c': ['10', '20', '30', 40],
 'd': ['10', '20', '30', 40],
 'a': ['10', '20', '30', 40],
 'b': ['10', '20', '30', 40]}

In [194]:
##  Dictionary Comprehension
double = {i:i*2 for i in range(1,10)}
print(double)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [196]:
square = {i:i**2 for i in range(1,10)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [200]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]
my_dict2 = {k:v for (k,v) in zip(key,value)}

In [204]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [ ]:
str1 = "Natural Language Processing"
mydict2 = {k:v for (k,v) in enumerate(str1)} # Store enumerated values in a dicti
mydict2