In [1]:
import sys 
import keyword
import os
import operator
import datetime as datetime

In [7]:
print(len(keyword.kwlist))

35

In [91]:
p1 = 20 + 30 \
 + 40 + 50 +\
 + 70 
p1
p2  = p1+5

In [93]:
id(p1)
hex(id(p2))

'0x7fff3493dde8'

In [65]:
i = 50
for j in range(0,6):
    print(j)
print(i)

0
1
2
3
4
5
50

In [67]:
# Docstring use case
def evenodd(num):
    ''' This function is going to test whether the given number is even or odd'''
    if num%2 == 0:
        print("the given number is even")
    else:
        print("the number is odd")

In [73]:
evenodd(67)
evenodd.__doc__

the number is odd

' This function is going to test whether the given number is even or odd'

In [109]:
n = 68
print(type(n))
print(sys.getsizeof(n))
print(n,"is integer?",isinstance(n,int))

<class 'int'>
28
68 is integer? True

In [167]:
n = 'Hello Friend'
print(n[-6:])

Friend

In [149]:
for i in enumerate(n):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'F')
(7, 'r')
(8, 'i')
(9, 'e')
(10, 'n')
(11, 'd')

In [157]:
list(enumerate(n))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'F'),
 (7, 'r'),
 (8, 'i'),
 (9, 'e'),
 (10, 'n'),
 (11, 'd')]

In [145]:
del(n)
print(n)

NameError: name 'n' is not defined

In [163]:
n = "who is anthony gonsalvas tell me"
print(n.partition("tell"))

('who is anthony gonsalvas ', 'tell', ' me')

In [181]:
my_str = "Hello Good Morning *******"
my_str.lstrip('H')

'ello Good Morning *******'

In [189]:
n1 = 4
n2 = 6
print("the numbers are , {} and {}".format(n1,n2))

the numbers are , 4 and 6

In [193]:
my="my favourite bollywood movie is \" Bahubali\""
print(my)

my favourite bollywood movie is " Bahubali"

In [203]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist[0][1]
mylist[2:5]

['three', 'four', 'five']

In [223]:
 mylist3 = [9,5,2,99,12,88,34]
my = sorted(mylist3)
mylist3.sort()
id(mylist3)
# id(my)
# id(mylist3)

2514773039488

In [227]:
print([i**2 for i in range(1,40) if i%2==0])

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]

In [231]:
my_list = [i for i in range(1,40) if i%2==0]
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [233]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple[2:]

('three', 'four', 'five', 'six', 'seven', 'eight')

In [8]:
var = 10 
def num():
    var_1 = 10
    print(var)

In [14]:
p = lambda a,b:a*b
print(p(7,5))

35

In [18]:
res = (lambda *args : __builtin__.sum(args))
print(res(8,9,7,0))

24

In [26]:
list1 = [1,2,3,4,5,6,7,8,9]
oddnum = list(filter(lambda x: x%2==1,list1))
oddnum

[1, 3, 5, 7, 9]

In [28]:
def twice(n):
    return n*2

In [34]:
l = list(map(twice,oddnum))
l

[2, 6, 10, 14, 18]

In [44]:
from functools import reduce
def multi(a,b):
    return a*b

In [48]:
multi_all = reduce(multi,l)
multi_all

30240

# File Handling in Python

In [40]:
file = open("sample.txt","r")
content = file.read()
print(content)

line1
line 2
line 3
line 4
  line 5   .
line 6
hye , brother    how are you are you doing good    .
tell me more about your residency      .

In [60]:
with open("sample.txt","r") as file:
    text = file.read()
text = text.replace("$", "").replace("^", "")
text = " ".join(text.split())
print(text)

line1 line 2 line 3 line 4 line 5 line 6 hye , brother how are you are you doing good . tell me more 7 about your residency.

In [90]:
with open("sample.txt","r") as file:
    text = file.read()
text = text.replace("$","").replace("^","")
text_clean = " ".join(text.split(" "))
print(text)
file.close()

line1
line 2
line 3
line 4
line 5
line 6
hye ,    brother how are you are you doing good   .
tell me more 7 about your residency.

In [100]:
with open("sample.txt","w") as file:
    file.write(text_clean)

In [104]:
with open("sample.txt","r") as file:
   text = file.read()
print(text)

line1
line 2
line 3
line 4
line 5
line 6
hye ,    brother how are you are you doing good   .
tell me more 7$$$^ about your residency.

In [126]:
with open ("sample.txt",'r') as fp:
 #read all the lines from the file
 lines=fp.readlines()
 #open new file in write mode
 with open ("test file new.txt","w") as fp:
     count=0
 #iterate each line from test file
     for line in lines:
         if count==4:
             count += 1
             continue
         else:
             fp.write(line)
         count+=1