## LIST

In [157]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [70]:
list5 = [['Asif', 25 ],[50, 100],[150, 90]]

In [71]:
a = list5[0][2]
print(a)

i

In [183]:
matrix = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
matrix[-1:1]

[]

In [163]:
mylist[:-3:1]
mylist[:-3:2]

['one', 'three', 'five']

In [73]:
mylist[-3:]

['six', 'seven', 'eight']

In [74]:
list5.insert(3,5)
list5

['Asif', 25, [50, 100], 5, [150, 90]]

In [75]:
list5.remove(5)
list5

['Asif', 25, [50, 100], [150, 90]]

In [76]:
mylist.remove('five')
mylist

['one', 'two', 'three', 'four', 'six', 'seven', 'eight']

In [77]:
mylist[3] = 7
mylist[2] = 'pet'
mylist

['one', 'two', 'pet', 7, 'six', 'seven', 'eight']

In [78]:
list5.clear()
list5.insert(0,'bob')
list5.insert(4,6)
del list5[0]
del list5

In [79]:
mylist1 = mylist
id(mylist1),id(mylist)

(3023166505920, 3023166505920)

In [80]:
mylist2 = mylist.copy()
id(mylist2),id(mylist)

(3023166507200, 3023166505920)

In [81]:
list1 = ['Asif', 25 ,[50, 100],[150, 90]]
new_list = list1+mylist
new_list

['Asif',
 25,
 [50, 100],
 [150, 90],
 'one',
 'two',
 'pet',
 7,
 'six',
 'seven',
 'eight']

In [82]:
# list1.extend(mylist)
# list1

In [83]:
 mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [84]:
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [85]:
for i in mylist3:
    print(i)

2
5
9
12
34
88
99

In [86]:
8 in mylist3

False

In [87]:
mylist.count('nine')

0

In [88]:
name = 'ABHINANDAN'
na = [i for i in name]
na

['A', 'B', 'H', 'I', 'N', 'A', 'N', 'D', 'A', 'N']

In [89]:
even = [i for i in range(0,31) if i%2==0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [90]:
odd = [i for i in range(30) if i%2==1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [91]:
square = [i**2 for i in range(10) if i%2 == 0]
square

[0, 4, 16, 36, 64]

In [92]:
mul_3_5 = [i for i in range(200) if (i%3==0) and (i%5==0)]
mul_3_5

[0, 15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195]

In [93]:
 mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
num = [i for i in mystr if i.isdigit()]
num

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [94]:
 mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
alpha = [i for i in mystr if i.isalpha()]
alpha[0:9]

['O', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r']

In [189]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
for i in mystr:
    if i.isalpha():
        print("yes")

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [95]:
tu = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , [99,22,33]]
tu[5][1]
tu.index(25)

1

In [96]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [97]:
# princt max no. in the list
l1=[4,6,2,8,1]
l1.sort(reverse = True)
print(l1[0])

8

In [98]:
#  Find the reverse of a number provided by the user(any number of digit)
n = int(input("enter the number:"))
dig_list = list(map(int,str(n)))
dig_list = dig_list[::-1]
num = int("".join(map(str,dig_list)))
print(num)

# n = int(input("enter the number:"))
# dig_list = map(int,str(n))
# dig_list = dig_list[::-1]
# num = int("".join(map(int,dig_list)))
# print(num)

enter the number: 652

256

In [99]:
# find the number of digits in the given number.
n = int(input("enter the number of digits in number"))
dig = list(map(int,str(n)))
print(len(dig))

enter the number of digits in number 875

3

In [100]:
 l1=[1,2,3,3,3,4,4,5,6,7,8,9,9]
l2 = []
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
''''Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the
 list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the
 new list.
 list1 = ["M", "na", "i", "Ke"]
 list2 = ["y", "me", "s", "lly"]
 expected result:
 ['My', 'name', 'is', 'Kelly']'''
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i , j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [102]:
 #Turn every item of a list into its square Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
new = []
for i in numbers:
    n = pow(i,2)
    new.append(n)
print(new)

[1, 4, 9, 16, 25, 36, 49]

In [103]:
n=[pow(i,2) for i in range(1,4)]
print(n)

[1, 4, 9]

In [104]:
#  Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 inoriginal order and items from list2 in reverse order.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [105]:
# Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
 # Expected result:
 # ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
for i in list1:
    for j in list2:
        print(i+"*"+j)

Hello *Dear
Hello *Sir
take *Dear
take *Sir

In [106]:
result = [i+j for i in list1 for j in list2]
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [107]:
#  Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result = list(filter(lambda x : x != "",list1))
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']

In [108]:
# Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [109]:
'''Replace list’s item with new value if found
 You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with
 200. Only update the first occurrence of an item.
 list1 = [5, 10, 15, 20, 25, 50, 20]
 Expected output: [5, 10, 15, 200, 25, 50, 20'''
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[2] = 90
x = list1.index(20)
list1[x] = 2000
print(list1)

[5, 10, 90, 2000, 25, 50, 20]

In [66]:
# Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

## Set

In [226]:
set1 = {2,4,5,5,6,5,7}
set1

{2, 4, 5, 6, 7}

In [234]:
set2 = set((2,4,5,5,6,5,7))
set2
for i in enumerate(set2):
 print(i)

(0, 2)
(1, 4)
(2, 5)
(3, 6)
(4, 7)

## String

In [242]:
str1 = 'HELLO PYTHON'
print(str1*2)

HELLO PYTHONHELLO PYTHON

In [250]:
str1[len(str1)-1]

'N'

In [264]:
str1[-4:-1]='gee'

TypeError: 'str' object does not support item assignment

In [270]:
str2 = 'for you'
str3 = str1 +" "+ str2
print(str3)

HELLO PYTHON for you

In [274]:
for i in enumerate (str3):
    print(i)

(0, 'H')
(1, 'E')
(2, 'L')
(3, 'L')
(4, 'O')
(5, ' ')
(6, 'P')
(7, 'Y')
(8, 'T')
(9, 'H')
(10, 'O')
(11, 'N')
(12, ' ')
(13, 'f')
(14, 'o')
(15, 'r')
(16, ' ')
(17, 'y')
(18, 'o')
(19, 'u')

In [276]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.rpartition("and") 
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

In [278]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [298]:
mystr2 = '  Hello Everyone  '
mystr2.replace("He","HK")

'  HKllo Everyone  '

In [310]:
 item1 = 40
 item2 = 55
 item3 = 77
 res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print("Cost of item1 , item2 and item3 are {} , {} and {}".format(item1,item2,item3))
print(f"Cost of item1 , item2 and item3 are {item1} , {item2} and {item3}")
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77
Cost of item1 , item2 and item3 are 40 , 55 and 77
Cost of item1 , item2 and item3 are 40 , 55 and 77

## Dictionary

my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})

In [315]:
my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})
my_dict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}}

In [325]:
 keys = {'a' , 'b' , 'c' , 'd'}
value = {'10','20','30'}
my_dict2 = dict.fromkeys(keys,value)
my_dict2

{'a': {'10', '20', '30'},
 'b': {'10', '20', '30'},
 'c': {'10', '20', '30'},
 'd': {'10', '20', '30'}}